*~
.DS_Store

# Config files
/config.py
/secrets.py

# Civic Graph UI
/app/static/node_modules
/app/static/build

# Civic Graph Check In
/checkin/node_modules
/checkin/build

# IDE files
.idea

# UWSGI related files
/uwsgi

# Log files
/log

# Compile Python files from uWSGI
*.pyc
