<div class="left-container col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <div class="logo-container">
        <h3>welcome to</h3>
        <img src="../../img/cfas.png" alt="Code For America Summit">
    </div>
</div>
<div class="right-container col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <form id="nEntityForm">
        <div class="step-container">
            <div id="step1">
                <h2>Add yourself to Civic Graph</h2>
                <label for="editEntityName">Name</label><br>
                <input type='text'
                       ng-model='editEntity.name'
                       required
                       typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8'
                       typeahead-on-select="onSelect($item, $model, $label)"
                       id="editEntityName">
                <div id="employerEntity" ng-class="{ 'template': templateShown}">
                    <label for="employmentEntity">Organization</label><br>
                    <input type='text'
                           ng-repeat='employment in editEntity.employments|limitTo:1'
                           ng-model='employment.entity'
                           typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8'
                           ng-blur='checkOrganization($item, $model, $label)'
                           ng-change='addNameToOrg()'
                           ng-keyup="$event.keyCode == 13 ? submit() : null"
                           typeahead-on-select='setConnection($item, employment)'
                           id="employmentEntity">

                    <div ng-if='templateShown'>
                        <label>Location of Organization</label><br>
                        <div id='locationmsgorg'><span>Please select a location from the dropdown menu.</span>​</div>
                        <input title="Full Address" type='text'
                               ng-repeat='location in newOrganization.locations|limitTo:1'
                               ng-model='location.full_address'
                               typeahead='loc.address.formattedAddress for loc in addressSearch($viewValue)'
                               typeahead-on-select='setLocation(location, $item)' typeahead-editable='false'
                               ng-change='addLocation(newOrganization.locations)'
                               ng-enter-blur-org='{{newOrganization.locations}}'><br>
                        <input title="Organization Type" type="radio" id='cb1' class="radio3 for-profit-background"
                               ng-model='newOrganization.type' value="For-Profit"><label for="cb1">For-Profit</label>
                        <input title="New Organization" type="radio" id='cb2' class="radio3 government-background"
                               ng-model='newOrganization.type' value="Government"><label for="cb2">Government</label>
                        <input title="New Organization Type" type="radio" id='cb3' class="radio3 non-profit-background"
                               ng-model='newOrganization.type' value="Non-Profit"><label for="cb3">Non-Profit</label>
                    </div>
                </div>
                <button ng-click="submit()"
                        ng-disabled='!isValid()'>submit
                </button>
            </div>
        </div>
        <div class="step-container">
            <div id="step2">
                <h2>Almost done...</h2>
                <label for="location">Where are you based?</label><br>
                <div id='locationmsg'><span>Please select a location from the dropdown menu.</span>​</div>
                <input type='text' ng-repeat='location in editEntity.locations|limitTo:1'
                       ng-model='location.full_address'
                       typeahead='loc.address.formattedAddress for loc in addressSearch($viewValue)'
                       typeahead-on-select='setLocation(location, $item)'
                       typeahead-editable='false'
                       ng-change='addLocation(editEntity.locations)'
                       ng-enter-blur='{{editEntity.locations}}'
                       id="location">
                <label>Tell us who you've collaborated with (e.g. Code for America, Microsoft, Tim
                    O'Reilly...)</label><br>
                <div id="collaborations">
                    <div id="collaborationscontainer">
                        <div ng-repeat='collaboration in editEntity.collaborations'
                             ng-click="removeCollaboration(collaboration)" id="addedCollaborators"
                             ng-class="getCollaboratorColor(collaboration)">
                            <span>{{collaboration.entity}}</span><span class="xCLose">&#10006</span>
                        </div>
                    </div>
                    <input title="Edit Collaborations" type='text' ng-model='editEntity.collaborations[editEntity.collaborations.length-1].entity'
                           typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8'
                           ng-enter-blur-col='{{editEntity.collaborations[editEntity.collaborations.length-1].entity}}'
                           typeahead-on-select='setCollaboration($item, editEntity.collaborations[editEntity.collaborations.length-1])'
                           typeahead-editable='false'>
                </div>
                <label for="newTwitterEntity" ng-model='newEntity.twitter'>Twitter</label>
                <input type='text'
                       ng-model='editEntity.twitter_handle'
                       id="newTwitterEntity"><br>
                <div id="waitMessage" ng-if="waitingForResponse"><span>Adding Organization</span><span
                        class="one">.</span><span class="two">.</span><span class="three">.</span>​
                </div>
                <button ng-click="add()" class="buttonadd"
                        ng-disabled='!isValidAdd()'>add</button>
            </div>
        </div>
        <div class="step-container">
            <div id="step3">
                <img src="../../img/greenchecked.png" alt="success">
                <br><br>
                <h2>You've been added!</h2>
                <h3>Go to civicgraph.io to view and edit your network!</h3>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(this).scrollTop(0);
        $(':input').on('keydown', function (e) {
            if (e.which == 9) {
                e.preventDefault();
            }
        });
    });
</script>

