<div class='logo'>
<img  src="static/img/civicgraphdark.png" width="100%">
</div><br>

<div class="form-group has-feedback">
    <input type='text' ng-model='currentEntity'  typeahead='entity as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setEntity($item)' typeahead-editable='false' class='form-control'>
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
</div>

<h3>Types</h3>
<div ng-repeat='(type, enabled) in entityTypes'>
    <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
    <input type='checkbox' ng-model='entityTypes[type]' ng-change='toggleNode(type)'></label>
    <span class='caption'>{{type}}</span>
</div>

<h3>Connections</h3>
<div ng-repeat='(type, enabled) in connectionTypes'>
    <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
    <input type='checkbox' ng-model='connectionTypes[type]' ng-change='toggleLink(type)'></label>
    <span class='caption'>{{type}}</span>
</div>

<h3>Sized By</h3>
<div ng-repeat='sizeBy in sizeBys'>
    <label class='checkbox radio' ng-class="{'unchecked': $parent.$parent.sizeBy != sizeBy.value}" ng-model='$parent.$parent.sizeBy' btn-radio='sizeBy.value' ng-change='changeSizeBy()'></label>
    <span class='caption'>{{sizeBy.name}}</span>
</div>

<h3>View</h3>
<div ng-repeat='view in views'>
    <label class='checkbox radio'  ng-class="{'unchecked': $parent.$parent.template != view}" ng-model='$parent.$parent.template' btn-radio='view'></label>
    <span class='caption'>{{view.name}}</span>
</div>

<legend></legend>

<div  id="aboutButton">
    <a ng-click='showAbout()' href="">Learn more</a>
</div>

