<div class="control-panel">
<div class='logo'>
<img  src="img/civicgraph.png" width="100%">
</div>
<div class="control-panel-content">


<!-- <div class="form-group has-feedback search">
    <input type='text' ng-model='currentEntity'  typeahead='item as item.name for item in searchItems | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='selectItem($item)' typeahead-editable='false' class='form-control' placeholder='Search'>
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
</div> -->

<h3>Types</h3>
<div class='control-input' ng-repeat='(type, enabled) in entityTypes'>
    <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
    <input type='checkbox' ng-model='entityTypes[type]' ng-change='toggleNode(type)'></label>
    <span class='caption'>{{type}}</span>
</div>

<hr>

<h3>Connections</h3>
<div class='control-input' ng-repeat='(type, enabled) in connectionTypes'>
    <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
    <input type='checkbox' ng-model='connectionTypes[type]' ng-change='toggleLink(type)'></label>
    <span class='caption'>{{type}}</span>
</div>

<hr>

<h3>Size By</h3>
<div class='control-input' ng-repeat='sizeBy in sizeBys'>
    <label class='checkbox radio' ng-class="{'unchecked': $parent.$parent.sizeBy != sizeBy.value}" ng-model='$parent.$parent.sizeBy' btn-radio='sizeBy.value' ng-change='changeSizeBy()'></label>
    <span class='caption'>{{sizeBy.name}}</span>
</div>

<hr>

<h3>View</h3>

<div class="switch switch-blue" >
  <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked>
  <label for="week2" class="switch-label switch-label-off" ng-click='changeView("Network")'>Network</label>
  <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
  <label for="month2" class="switch-label switch-label-on" ng-click='changeView("Map")'>Map</label>
  <span class="switch-selection"></span>
</div>


<!-- <div class='control-input' ng-repeat='(view, enabled) in showView'>
    <label class='checkbox radio'  ng-class="{'unchecked': !$parent.$parent.showView[view]}" ng-model='$parent.$parent.showView[view]' ng-click='changeView(view)'></label>
    <span class='caption'>{{view}}</span>
</div>
 -->

</div>

<div class="license">
  <p>An open-source project by <a href="https://www.microsoft.com/" target='_blank'>
  <img alt="Microsoft" src="img/msftlogogrey.png" width="80"></a>. <a ng-click='showAbout()' href=''>Learn more</a></p>
<!--   <span style="display:block;">
  <a href="https://github.com/MicrosoftTCE/civic-graph" target='_blank'><i class="fa fa-github"></i></a>
  <a href="https://twitter.com/intent/tweet?status=Want%20to%20see%20connections%20within%20Civic%20Tech?%20Check%20out%20Microsoft's%20awesome%20Civic%20Graph%20@%20+http://civicgraph.io" target="_blank"><i class="fa fa-twitter"></i></a></span>
 -->
  


<!--   <p ng-hide='mobile' >This work by
   <a href="https://www.microsoft.com/" target='_blank'>
  <img alt="Microsoft" src="img/msftlogogrey.png" width="80"></a>
  is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target='_blank'>CC BY-SA 4.0.</a>
  Based on a work found <a href="https://github.com/rasmi/civic-graph" target='_blank'>here.</a></p>
  <p><a ng-click='showAbout()' href=''>Learn more</a></p> -->
</div>
</div>
