</div>
<br>
<div>
<div class="form-group has-feedback centerInput">
    <input type='text' ng-model='currentEntity'  typeahead='entity as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setEntity($item)' typeahead-editable='false' class='form-control'>
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
</div>

</div>
<div class="checkboxCont">
<h4 class="mobileTitle">Types</h4>
<div ng-repeat='(type, enabled) in entityTypes'>
    <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
    <input type='checkbox' ng-model='entityTypes[type]' ng-change='toggleNode(type)'></label>
    <span class='captionMobile'>{{type}}</span>
</div>
</div>

<div class="checkboxCont">
<h4 class="mobileTitle">Connections</h4>
<div ng-repeat='(type, enabled) in connectionTypes'>
    <label class="checkbox {{type+'-checkbox'}} checkbox inline no_indent" ng-class="{'unchecked': !enabled}">
    <input type='checkbox' ng-model='connectionTypes[type]' ng-change='toggleLink(type)' ></label>
    <span class='check'></span>
    <span class='captionMobile'>{{type}}</span>
</div>
</div>

<legend></legend>

<h4 class="mobileTitle">Sized By
<span ng-repeat='sizeBy in sizeBys'>
    <label class='checkbox radio' ng-class="{'unchecked': $parent.$parent.sizeBy != sizeBy.value}" ng-model='$parent.$parent.sizeBy' btn-radio='sizeBy.value' ng-change='changeSizeBy()'></label>
    <span class='caption'>{{sizeBy.name}}</span>
</span>
</h4>

<legend></legend>

<h4 class="mobileTitle">View&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<span ng-repeat='view in views'>
    <label class='checkbox radio'  ng-class="{'unchecked': $parent.$parent.template != view}" ng-model='$parent.$parent.template' btn-radio='view'></label>
    <span class='caption'>{{view.name}}</span>
</span>
</h4>
<legend></legend>

<div  id="aboutButton">
    <a ng-click='showAbout()' href="">Learn more</a>
</div>
