<div ng-if='!mobile'>
    <button class='addInfoDesktop' ng-click='startEdit()'><p><i class="glyphicon glyphicon-plus-sign"></i> Add New Information</p></button>
    <hr />
</div>
<div ng-if='!actions.interacted && !mobile' ng-include='overviewUrl'></div>
<div ng-if='actions.interacted'>
<i title='Edit' ng-click='startEdit(currentEntity)' class='glyphicon glyphicon-pencil edit-marker'></i>
</div>
<!--MOBILE TOP VIEW-->
<div class='mobile-details' ng-if='mobile'>
    <div class="topContainer">
        <div class='mobileLogo' style="display:inline-block"> 
        <img class='entity-twitter-logo' ng-if='currentEntity.twitter_handle' ng-src='https://twitter.com/{{currentEntity.twitter_handle}}/profile_image?size=bigger'>
        </div>
        <div class="mdetails-top-right">
            <div class='m-entity-name'>
            <a ng-if='currentEntity.url' ng-href='{{currentEntity.url}}' target='_blank'><h2>{{currentEntity.name}}</h2></a>
            <a ng-if='!currentEntity.url' ng-href='https://www.bing.com/search?q={{currentEntity.name}}' target='_blank'><h2>{{currentEntity.name}}</h2></a>
            </div>
            <div>
            <span ng-if='currentEntity.locations.length'>
            <span class="mdetailsleft" >{{currentEntity.locations[0].full_address}}</span>
            </span>
            <span class="mdetailsright typemobile">({{currentEntity.type}})</span>
            </div>
            <a ng-href="https://twitter.com/{{currentEntity.twitter_handle.replace('@','')}}" target='_blank'>{{currentEntity.twitter_handle}}</a>
        </div>
    </div>
    <div class="mdetails-top-bottom">
        <h6 class="influence">Influence:</h6>
        <div ng-if='currentEntity.employees' class="details-influence" ><p>{{currentEntity.employees | number}}</p><h6>Employees</h6></div>
        <div ng-if='currentEntity.followers' class="details-influence" ><p>{{currentEntity.followers | number}}</p><h6>Twitter Followers</h6></div>
        <div ng-if='currentEntity.influence' class="details-influence" ><p>{{currentEntity.influence}}</p><h6>Reach</h6></div>
    </div>
</div>
<!-- END MOBILE TOP VIEW-->
<!--DESKTOP TOP VIEW-->
<div ng-if='!mobile'>
<div class='right_logo'> 
    <img class='entity-twitter-logo' ng-if='currentEntity.twitter_handle' ng-src='https://twitter.com/{{currentEntity.twitter_handle}}/profile_image?size=bigger'>
    <div class='entity-name'>
        <h2><a ng-if='currentEntity.url' ng-href='{{currentEntity.url}}' target='_blank'>{{currentEntity.name}}</a></h2>
        <h2><a ng-if='!currentEntity.url' ng-href='https://www.bing.com/search?q={{currentEntity.name}}' target='_blank'>{{currentEntity.name}}</a></h2>
    </div>
</div>
<div ng-if='currentEntity.locations.length'>
<h6>Locations:</h6>
<p ng-repeat='location in currentEntity.locations'>{{location.full_address}}</p>
</div>

<div ng-if='currentEntity.influence'>
<h6>Influence:</h6><p>{{currentEntity.influence}}</p>
</div>

<h6>Type of Entity:</h6><p>{{currentEntity.type}}</p>
<div ng-hide="currentEntity.type=='Individual' || !currentEntity.employees">
<h6>Employees:</h6><p>{{currentEntity.employees | number}}</p>
</div>
<div ng-if='currentEntity.twitter_handle'>
<h6>Twitter:</h6><a ng-href="https://twitter.com/{{currentEntity.twitter_handle.replace('@','')}}" target='_blank'>{{currentEntity.twitter_handle}}</a>
</div>
<div ng-if='currentEntity.followers'>
<h6>Twitter Followers:</h6><p>{{currentEntity.followers | number}}</p>
</div>
</div>
<!--END DESKTOP TOP VIEW-->
<!-- KEY PEOPLE -->
<div ng-if='currentEntity.key_people.length' ng-hide="currentEntity.type=='Individual'">
<h6>Key Civic People:</h6>
    <p ng-repeat='person in currentEntity.key_people | limitTo:itemsShown.key_people'><a ng-href='https://www.bing.com/search?q={{person.name}} {{currentEntity.name}}' target='_blank'>{{person.name}}</a></p>

    <a ng-if='currentEntity.key_people.length > itemsShown.key_people' ng-click="showMore('key_people')">More...</a>
    <a ng-if='itemsShown.key_people > itemsShownDefault.key_people' ng-click="showLess('key_people')">Less...</a>
</div>

<!-- COLLABORATIONS -->
<div ng-if='currentEntity.collaborations.length'>
<h6>Collaborated with:</h6>
    <a ng-repeat='collaboration in currentEntity.collaborations | limitTo:itemsShown.collaborations' ng-click='selectItem(collaboration.entity_id)'>{{collaboration.entity}}</a>

    <a ng-if='currentEntity.collaborations.length > itemsShown.collaborations' ng-click="showMore('collaborations')">More...</a>
    <a ng-if='itemsShown.collaborations > itemsShownDefault.collaborations' ng-click="showLess('collaborations')">Less...</a>
</div>

<!-- EMPLOYMENTS -->
<div ng-if='currentEntity.employments.length'>
<h6>Employment:</h6>
    <a ng-repeat='employment in currentEntity.employments | limitTo:itemsShown.employments' ng-click='selectItem(employment.entity_id)'>{{employment.entity}}</a>

    <a ng-if='currentEntity.employments.length > itemsShown.employments' ng-click="showMore('employments')">More...</a>
    <a ng-if='itemsShown.employments > itemsShownDefault.employments' ng-click="showLess('employments')">Less...</a>
</div>

<!-- RELATIONS -->
<div ng-if='currentEntity.relations.length'>
<h6>Related to:</h6>
    <a ng-repeat='relation in currentEntity.relations | limitTo:itemsShown.relations' ng-click='selectItem(relation.entity_id)'>{{relation.entity}}</a>

    <a ng-if='currentEntity.relations.length > itemsShown.relations' ng-click="showMore('relations')">More...</a>
    <a ng-if='itemsShown.relations > itemsShownDefault.relations' ng-click="showLess('relations')">Less...</a>
</div>

<!-- DATA USAGE -->
<div ng-if='currentEntity.data_given.length'>
<h6>Gave data to:</h6>
    <a ng-repeat='datasource in currentEntity.data_given | limitTo:itemsShown.data_given' ng-click='selectItem(datasource.entity_id)'>{{datasource.entity}}</a>

    <a ng-if='currentEntity.data_given.length > itemsShown.data_given' ng-click="showMore('data_given')">More...</a>
    <a ng-if='itemsShown.data_given > itemsShownDefault.data_given' ng-click="showLess('data_given')">Less...</a>
</div>

<div ng-if='currentEntity.data_received.length'>
<h6>Used data from:</h6>
    <a ng-repeat='datasource in currentEntity.data_received | limitTo:itemsShown.data_received' ng-click='selectItem(datasource.entity_id)'>{{datasource.entity}}</a>

    <a ng-if='currentEntity.data_received.length > itemsShown.data_received' ng-click="showMore('data_received')">More...</a>
    <a ng-if='itemsShown.data_received > itemsShownDefault.data_received' ng-click="showLess('data_received')">Less...</a>
</div>

<!-- GRANTS RECEIVED -->
<div ng-if='currentEntity.grants_received.length'>
<h6>Received grants from:</h6>
    <p ng-repeat='grant in currentEntity.grants_received | limitTo:itemsShown.grants_received'><a ng-click='selectItem(grant.entity_id)'>{{grant.entity}}</a><span ng-if='grant.amount > 0'>: {{grant.amount | currency:undefined:0}}</span></p>

    <a ng-if='currentEntity.grants_received.length > itemsShown.grants_received' ng-click="showMore('grants_received')">More...</a>
    <a ng-if='itemsShown.grants_received > itemsShownDefault.grants_received' ng-click="showLess('grants_received')">Less...</a>
</div>

<!-- INVESTMENTS RECEIVED -->
<div ng-if='currentEntity.investments_received.length' ng-hide="currentEntity.type=='Individual'">
<h6>Received investments from:</h6>
    <p ng-repeat='investment in currentEntity.investments_received | limitTo:itemsShown.investments_received'><a ng-click='selectItem(investment.entity_id)'>{{investment.entity}}</a><span ng-if='investment.amount > 0'>: {{investment.amount | currency:undefined:0}}</span></p>
    
    <a ng-if='currentEntity.investments_received.length > itemsShown.investments_received' ng-click="showMore('investments_received')">More...</a>
    <a ng-if='itemsShown.investments_received > itemsShownDefault.investments_received' ng-click="showLess('investments_received')">Less...</a>
</div>

<!-- GRANTS GIVEN -->
<div ng-if='currentEntity.grants_given.length' ng-hide="currentEntity.type=='Individual'">
<h6>Gave grants to:</h6>
    <p ng-repeat='grant in currentEntity.grants_given | limitTo:itemsShown.grants_given'><a ng-click='selectItem(grant.entity_id)'>{{grant.entity}}</a><span ng-if='grant.amount > 0'>: {{grant.amount | currency:undefined:0}}</span></p>

    <a ng-if='currentEntity.grants_given.length > itemsShown.grants_given' ng-click="showMore('grants_given')">More...</a>
    <a ng-if='itemsShown.grants_given > itemsShownDefault.grants_given' ng-click="showLess('grants_given')">Less...</a>
</div>

<!-- INVESTMENTS MADE -->
<div ng-if='currentEntity.investments_made.length' ng-hide="currentEntity.type=='Individual'">
<h6>Invested in:</h6>
    <p ng-repeat='investment in currentEntity.investments_made | limitTo:itemsShown.investments_made'><a ng-click='selectItem(investment.entity_id)'>{{investment.entity}}</a><span ng-if='investment.amount > 0'>: {{investment.amount | currency:undefined:0}}</span></p>
    <a ng-if='currentEntity.investments_made.length > itemsShown.investments_made' ng-click="showMore('investments_made')">More...</a>
    <a ng-if='itemsShown.investments_made > itemsShownDefault.investments_made' ng-click="showLess('investments_made')">Less...</a>
</div>
<!-- REVENUES -->
<div ng-if='currentEntity.revenues.length'>
<h6>Revenue:</h6>
    <p ng-repeat='revenue in currentEntity.revenues | limitTo:itemsShown.revenues'>{{revenue.year}}: {{revenue.amount | currency:undefined:0}}</p>

    <a ng-if='currentEntity.revenues.length > itemsShown.revenues' ng-click="showMore('revenues')">More...</a>
    <a ng-if='itemsShown.revenues > itemsShownDefault.revenues' ng-click="showLess('revenues')">Less...</a>
</div>

<!-- EXPENSES -->
<div ng-if='currentEntity.expenses.length' ng-hide="currentEntity.type=='Individual'">
<h6>Expense:</h6>
<p ng-repeat='expense in currentEntity.expenses | limitTo:itemsShown.expenses'>{{expense.year}}: {{expense.amount | currency:undefined:0}}</p>
    <a ng-if='currentEntity.expenses.length > itemsShown.expenses' ng-click="showMore('expenses')">More...</a>
    <a ng-if='itemsShown.expenses > itemsShownDefault.expenses' ng-click="showLess('expenses')">Less...</a>
</div>
<hr >
<div ng-if='!currentEntity.locations.length'>
<p>No known location information.</p>
</div>
<div ng-if='!currentEntity.key_people.length' ng-hide="currentEntity.type=='Individual'">
    <p>No known Key Civic People.</p>
</div>
<div ng-if='!currentEntity.collaborations.length'>
    <p>No known collaborations.</p>
</div>
<div ng-if='!currentEntity.employments.length'>
    <p>No known employment information.</p>
</div>
<div ng-if='!currentEntity.relations.length'>
    <p>No known relation information.</p>
</div>
<div ng-if='!currentEntity.data_given.length'>
    <p>No known data provided to other entities.</p>
</div>
<div ng-if='!currentEntity.data_received.length'>
    <p>No known external data used.</p>
</div>
<div ng-if='!currentEntity.grants_received.length'>
    <p>No known grants received.</p>
</div>
<div ng-if='!currentEntity.investments_received.length' ng-hide="currentEntity.type=='Individual'">
    <p>No known investments received.</p>
</div>
<div ng-if='!currentEntity.grants_given.length' ng-hide="currentEntity.type=='Individual'">
    <p>No known grants provided.</p>
</div>
<div ng-if='!currentEntity.investments_made.length'>
    <p>No known investments made.</p>
</div>
<div ng-if='!currentEntity.revenues.length' ng-hide="currentEntity.type=='Individual'">
    <p>No known revenue information.</p>
</div>
<div ng-if='!currentEntity.expenses.length' ng-hide="currentEntity.type=='Individual'">
    <p>No known expense information.</p>
</div>
</div>
