<i title='Edit' ng-click='cancelEdit()' ng-hide="updating && !error || mobile" class='glyphicon glyphicon-remove edit-marker'></i>
<i title='Edit' ng-click='cancelEdit()' ng-hide="updating && !error || !mobile" class='glyphicon glyphicon-remove marker-mobile'></i>
<div ng-if='!updating'>
<div class='edit-title'>
    <h3 ng-if='entity.id'>Edit Information</h3>
    <h3 ng-if='!entity.id'>Add Information</h3>
</div>
<form class='edit-form' novalidate>
  <div><h6>Entity Name<span ng-if='!($parent.$parent.editEntity.name.length > 0)'> (Required)</span>:</h6>
    <input type='text' class='form-control' ng-model='editEntity.name' placeholder='Name' required>
    <h6>Nickname:</h6>
    <input type='text' class='form-control' ng-model='editEntity.nickname' placeholder='Nickname'>
  </div>

    <div><h6>Locations:</h6>
        <input type='text' class='form-control' ng-repeat='location in editEntity.locations' ng-model='location.full_address' typeahead='loc.address.formattedAddress for loc in addressSearch($viewValue)' typeahead-on-select='setLocation(location, $item)' typeahead-editable='false' ng-change='addLocation(editEntity.locations)' placeholder='Location'>
    </div>
    <h6>Circle of Influence:</h6>
    <div ng-repeat='influenceType in influenceTypes'>
      <label class='checkbox radio' ng-class="{'unchecked': $parent.$parent.editEntity.influence != influenceType}" ng-model='$parent.$parent.editEntity.influence' btn-radio='influenceType'></label >
      <span class='caption'>{{influenceType}}</span>
    </div>

    <h6>What type of entity?<span ng-if='!$parent.$parent.editEntity.type'> (Required)</span></h6>

    <div ng-repeat='(type, enabled) in entityTypes'>
      <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': $parent.$parent.editEntity.type != type}" ng-model='$parent.$parent.editEntity.type' btn-radio='type' ng-change='changetype()'></label>
      <span class='caption'>{{type}}</span>
    </div>

    <h6>What kind of work do they do?</h6>
    
    <div ng-repeat='category in editCategories'>
        <label class='checkbox' ng-class="{'unchecked': !category.enabled}"><input type='checkbox' ng-model='category.enabled'></label>
        <span class='caption'>{{category.name}}</label>
    </div>
    <input type='text' class='form-control' ng-model='editEntity.url' placeholder='Website'>
    <input type='text' class='form-control' ng-model='editEntity.twitter_handle' placeholder='@Twitter'>
    <div ng-hide="editEntity.type=='Individual'">
        <h6>Number of Employees</h6>
        <input class='form-control' ng-model='editEntity.employees' placeholder='Employees'></div>
    <div ng-hide="editEntity.type=='Individual'">
        <h6>Key Civic People?</h6>
        <input type='text'class='form-control' ng-repeat='person in editEntity.key_people' ng-model='person.name' placeholder='Name' ng-change='addKeyPerson()'>
    </div>

    <div><h6>Collaboration</h6>
        <div ng-repeat='collaboration in editEntity.collaborations'>
            <input type='text' class='form-control' ng-model='collaboration.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setConnection($item, collaboration)' ng-change='addConnection(editEntity.collaborations)' typeahead-editable='false' placeholder='Collaborator'>
            <input type='text' class='form-control details-field' ng-model='collaboration.details' placeholder='Collaboration details'>
        </div>
    </div>
    <div><h6>Employment</h6>
        <input type='text' class='form-control' ng-repeat='employment in editEntity.employments' ng-model='employment.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setConnection($item, employment)' ng-change='addConnection(editEntity.employments)' typeahead-editable='false' placeholder='Entity'>
    </div>
    <div><h6>Related to</h6>
        <div ng-repeat='relation in editEntity.relations'>
            <input type='text' class='form-control' ng-model='relation.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setConnection($item, relation)' ng-change='addConnection(editEntity.relations)' typeahead-editable='false' placeholder='Related entity'>
            <input type='text' class='form-control details-field' ng-model='relation.details' placeholder='Relation details'>
        </div>
    </div>
    <div><h6>From whom do they receive data?</h6>
        <div ng-repeat='data in editEntity.data_received'>
            <input type='text' class='form-control' ng-model='data.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setConnection($item, data)' ng-change='addConnection(editEntity.data_received)' typeahead-editable='false' placeholder='Data Resource'>
            <input type='text' class='form-control details-field' ng-model='data.details' placeholder='Link to data'>
        </div>
    </div>
    <div><h6>To whom do they provide data?</h6>
        <div ng-repeat='data in editEntity.data_given'>
            <input type='text' class='form-control' ng-model='data.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setConnection($item, data)' ng-change='addConnection(editEntity.data_given)' typeahead-editable='false' placeholder='Data Resource'>
            <input type='text' class='form-control details-field' ng-model='data.details' placeholder='Link to data'>
        </div>
    </div>
    <div><h6>From whom do they receive grants?</h6>
        <div ng-repeat='grant in editEntity.grants_received'>
            <input type='text' ng-model='grant.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setFundingConnection($item, grant)' ng-change='addFundingConnection(editEntity.grants_received)' typeahead-editable='false' placeholder='Funder' class='form-control'>
            <div class='input-group'>
                <input class='finance-amount form-control' ng-model='grant.amount' placeholder='Amount'>
                <input class='finance-year form-control' ng-model='grant.year' placeholder='Year'>
            </div>
        </div>
    </div>
    <div ng-hide="editEntity.type=='Individual'"><h6>From whom do they receive investments?</h6>
        <div ng-repeat='investment in editEntity.investments_received'>
            <input type='text' ng-model='investment.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setFundingConnection($item, investment)' ng-change='addFundingConnection(editEntity.investments_received)' typeahead-editable='false' placeholder='Investor' class='form-control'>
            <div class='input-group'>
                <input class='finance-amount form-control' ng-model='investment.amount' placeholder='Amount'>
                <input class='finance-year form-control' ng-model='investment.year' placeholder='Year'>
            </div>
        </div>
    </div>
    <div ng-hide="editEntity.type=='Individual'"><h6>To whom do they provide grants?</h6>
        <div ng-repeat='grant in editEntity.grants_given'>
            <input type='text' ng-model='grant.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setFundingConnection($item, grant)' ng-change='addFundingConnection(editEntity.grants_given)' typeahead-editable='false' placeholder='Fundee' class='form-control'>
            <div class='input-group'>
                <input class='finance-amount form-control' ng-model='grant.amount' placeholder='Amount'>
                <input class='finance-year form-control' ng-model='grant.year' placeholder='Year'>
            </div>
        </div>
    </div>
    <div><h6>To whom do they provide investments?</h6>
        <div ng-repeat='investment in editEntity.investments_made'>
            <input type='text' ng-model='investment.entity' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='setFundingConnection($item, investment)' ng-change='addFundingConnection(editEntity.investments_made)' typeahead-editable='false' placeholder='Investee' class='form-control'>
            <div class='input-group'>
                <input class='finance-amount form-control' ng-model='investment.amount' placeholder='Amount'>
                <input class='finance-year form-control' ng-model='investment.year' placeholder='Year'>
            </div>
        </div>
    </div>
    <div ng-hide="editEntity.type=='Individual'"><h6>Revenue</h6>
        <div ng-repeat='revenue in editEntity.revenues'>
            <div class='input-group'>
                <input class='finance-amount form-control' ng-model='revenue.amount' placeholder='Amount' ng-change='addFinance(editEntity.revenues)'>
                <input class='finance-year form-control' ng-model='revenue.year' placeholder='Year' ng-change='addFinance(editEntity.revenues)'>
            </div>
        </div>
    </div>
    <div ng-hide="editEntity.type=='Individual'"><h6>Expenses</h6>
        <div ng-repeat='expense in editEntity.expenses'>
            <div class='input-group'>
                <input class='finance-amount form-control' ng-model='expense.amount' placeholder='Amount' ng-change='addFinance(editEntity.expenses)'>
                <input class='finance-year form-control' ng-model='expense.year' placeholder='Year' ng-change='addFinance(editEntity.expenses)'>
            </div>
        </div>
    </div>
</form>
</div>
<div ng-if='updating && !error'>
    <h2>Saving...</h2><br>
    <h3>Thank you for submitting data to Civic Graph!</h3>
    <div class='loader'></div>
</div>
<div class='error' ng-if='error'>
    <i class='glyphicon glyphicon-remove-sign error-symbol'></i>
    <h3>Something went wrong.</h3>
    <h6>Please check your submission and try again.</h6>
</div>
<div class='save'>
<button ng-disabled='!isValid()' ng-hide='updating' class='btn bluebtn' ng-click='save()'>Save</button>
</div>
