<!DOCTYPE html>
<html ng-app='civic-checkin'>
<head>
    <title>Civic Checkin</title>
    <base href='/'>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.2/lodash.min.js'></script>
    <script src='js/entities.js'></script>		
    <script src='js/checkin.js'></script>		
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,100italic,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/checkin.css'>
    <link rel='icon' type='image/png' href='img/microsoft.ico'>
    <link rel='apple-touch-icon' href='img/apple-touch-icon.png'>

</head>
<body ng-controller='homeCtrl'>
<div id="block">
	<label for="">Password</label>
	<input type="password" id="pass">
	<input type="submit" id="passBtn" ng-click="pass()">
</div>
<script type="text/javascript">
	$("#pass").keyup(function(event){
    if(event.keyCode == 13){
        $("#passBtn").click();
    }
});
</script>
<div class="left-container col-md-4">
	<div class="logo-container">
		<h3>welcome to</h3>
		<img src="img/civic-hall.png" alt="civic hall">
	</div>
</div>
<div class="right-container col-md-8">
<form id="nEntityForm">
		<div id="step1">
			<h2>Add yourself to Civic Graph</h2>
			<label for="">Name</label><br>
			<input type='text' ng-model='newEntity.name' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' typeahead-on-select="onSelect($item, $model, $label)" required>
			<!-- typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8'  -->
			<div id="employerEntity">
			<label for="">Who do you work for?</label><br>
			<input type="text" ng-model='newEntity.employer' typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' ng-blur="test()" typeahead-on-select="onSelectEmployer($item, $model, $label)"><br>
			<!-- <input type="text" ng-model='newEntity.location' typeahead='loc.address.formattedAddress for loc in addressSearch($viewValue)'><br> -->
<!-- 			<div style="width:40%;float:left;display:inline;margin:0;">
			<input type="radio" ng-model='newEntity.type' value="for-profit"><p>for-profit</p><br>
			<input type="radio" ng-model='newEntity.type' value="government"><p>government</p>
			</div>
			<div style="width:40%;float:left;display:inline;margin:0;">
			<input type="radio" ng-model='newEntity.type' value="non-profit"><p>non-profit</p><br>
			<input type="radio" ng-model='newEntity.type' value="individual"><p>individual</p>
			</div>
 -->			
 			<template id="template">
			<input type="radio" ng-model='newEntity.type' value="for-profit"><p>for-profit</p>
			<input type="radio" ng-model='newEntity.type' value="government"><p>government</p>
			<input type="radio" ng-model='newEntity.type' value="non-profit"><p>non-profit</p>
			</template>
			</div>
			<button ng-click="submit()" ng-disabled='!isValid()'>submit</button>
		</div>
		<div id="step2">
			<h4>Almost done...</h4>
			<label for="">Where are you based?</label><br>
			<input type="text" ng-model='newEntity.location' typeahead='loc.address.formattedAddress for loc in addressSearch($viewValue)'><br>
			<label>Tell us who you've worked with (ex: Civic Hall, TK,TK):</label><br>
			<input type="text" typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' ng-model='newEntity.collaborations'><br>
			<label for="" ng-model='newEntity.website' >Website</label><br><br>
			<input type="text"><br>
			<label for="" ng-model='newEntity.twitter'>Twitter</label><br><br>
			<input type="text"><br>
			<button ng-click="add()">add</button><a href="" ng-click="add()">skip</a><br>
		</div>
		<div id="step3">
			<img src="img/greenchecked.png" alt="success">
			<h2>You've been added!</h2>
			<h3>Look to see where you've been added</h3>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    	$(this).scrollTop(0);
	});
</script>
</body>
</html>
