<!DOCTYPE html>
<html ng-app='civic-graph'>
<head>
    <title>Civic Graph</title>
    <base href='/'>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.2/lodash.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
    <script src='js/lib/angular-leaflet-directive.min.js'></script>
    <script src='js/lib/pinchzoom.min.js'></script>
    <script src='js/app.js'></script>
    
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'>
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css'>
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css'>
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css'>
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='css/app.css'>
    <link rel='icon' type='image/png' href='img/cgraphico.ico'>
    <link rel='apple-touch-icon' href='img/apple-touch-icon.png'>

</head>
<body ng-controller='homeCtrl'>
<div ng-show="mobile" class="navLogoMobile" >
    <img ng-click='showAbout()' class="logoMob" src="img/civicgraph.png">
</div>
    <div class='container-fluid main-container'>
        <div class='row'>
            <div id='settings' ng-show='settingsEnabled' class='col-sm-2 control-panel-ctr hidden-xs' ng-include="'partials/controls.html?i='+random"></div>
            <div ng-if='settingsEnabled && !editing' class='col-sm-2 control-panel visible-xs-block settingsmobile scroll-up bottomPopUpMb' ng-class="{'mapView': template.name =='Map'}" ng-include="'partials/controlsmobile.html?i='+random"></div>
            <div ng-show='showView.Network' ng-hide="editing && mobile || showView.Map" ng-class="mobile ? 'display-panelMb' : 'display-panel'" ng-include="'partials/network.html?i='+random"></div>
            <div ng-if='!mobile || showsearchMB' ng-class="mobile ? 'searchMB bottomPopUpMb animateUp' : 'search'" class="form-group has-feedback">
                <input type='text' ng-model='currentEntity'  typeahead='item as item.name for item in searchItems | filter:{name: $viewValue} | limitTo:8' typeahead-on-select='selectItem($item)' typeahead-editable='false' class='form-control' placeholder='Search'>
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div ng-if='showView.Map' ng-class="mobile ? 'display-panelMb' : 'display-panel'"ng-hide="editing && mobile" ng-class="settingsEnabled ? 'col-sm-8' : 'col-sm-10'" ng-include="'partials/map.html?i='+random"></div>
            <div id='details-panel' add-mobile-events class='details-panel' ng-if='!editing && (clickedEntity.entity ||!mobile)' ng-class="{'details-panelMb bottomPopUpMb': mobile}" ng-show='!mobile || (clickedEntity.entity && (!editing && !settingsEnabled && !showsearchMB))' ng-controller='detailsCtrl' ng-include="'partials/details.html?i='+random"></div>

            <div class="fadeIt" ng-animate="'animate'" ng-class="mobile ? 'edit-panelMb' : 'edit-panel'" ng-if='editing' ng-controller='editCtrl' ng-include="'partials/edit.html?i='+random"></div>
            <!-- <div ng-show='mobile' class='bottomNavMb' ng-include="'partials/bottom-nav-mobile.html?i='+random"></div> -->
                <div ng-show='mobile' class='bottomNavMb' >
                <table>
                    <td ng-class="{'clickedButtonMb': showsearchMB}" ng-click='showSearch()'><i class="fa fa-search"><p>Search</p></i></td>
                    <td ng-class="{'clickedButtonMb': settingsEnabled}" ng-click='toggleSettings()'><i class="fa fa-filter"><p>Filter</p></i></td>
                    <td ng-click='switchView()'><i ng-if="showView.Network" class="fa fa-globe"><p>Map</p></i>
                    <span  ng-if="showView.Map"><img src="img/clustergrey.png" style="margin-top:7px;" width="20px" height="20px" alt=""></span><p  ng-if="showView.Map" style="transform:translateY(2)">Network</p></td>
                    <td ng-class="{'clickedButtonMb': editing}" ng-click='startEdit(null)'><i class="fa fa-plus-circle"><p>Add</p></i></td>
                </table>
                </div>
        </div>
    </div>
</body>
</html>
