<!DOCTYPE html>
<html ng-app="civic-graph">
<head>
    <title>Civic Graph</title>
    <base href='/'>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta content="The Civic Graph" name="application-name">
    <meta content="Civic Graph" property="og:title">
    <meta content="Learn who is who in civic tech with The Civic Graph by Microsoft"
          property="og:description">
    <meta content='img/CivicgraphImg.png' property="og:image">
    <meta content="The Civic Graph" property="og:site_name">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.2/lodash.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
    <script src='lib/angular-leaflet-directive.min.js'></script>
    <script src='lib/pinchzoom.min.js'></script>
    <script src='build/app.min.js'></script>


    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'>
    <link rel='stylesheet'
          href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css'>
    <link rel='stylesheet'
          href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css'>
    <link rel='stylesheet'
          href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css'>
    <link rel='stylesheet'
          href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css'>

    <link rel='stylesheet' href='build/app.min.css'>
    <link rel='icon' type='image/png' href='img/cgraphico.ico'>

    <link rel='apple-touch-icon' href='img/apple-touch-icon.png'>
</head>
<body ng-controller='homeCtrl as homeCtrl'>
<div ng-show="mobile" class="navLogoMobile">
    <img class="logoMob" src="img/civicgraph.png">
</div>
<div class='container-fluid main-container'>
    <div class='row'>
        <control class='col-sm-2 control-panel-ctr hidden-xs'
                 ng-show='settingsEnabled'
                 id='settings'
                 toggle-network="status.isNetworkShown"
                 min-connections="minConnections"
        ></control>

        <div ng-if='settingsEnabled && !editing'
             class='col-sm-2 control-panel visible-xs-block settingsmobile scroll-up bottomPopUpMb'
             ng-class="{'mapView': template.name =='Map'}"
             ng-hide="showAnalytics"
             ng-include="'js/control/controlsmobile.html?i='+random">
        </div>
        <network ng-if="status.isNetworkShown"
                 ng-hide="((editing && mobile || showView.Map) || (showAnalytics))"
                 ng-class="mobile ? 'display-panelMb' : 'display-panel'">
        </network>
        <div ng-if='!mobile || showsearchMB'
             ng-class="mobile ? 'searchMB bottomPopUpMb animateUp' : 'search'"
             class="form-group has-feedback"
             ng-hide="showAnalytics">

            <input type='text' ng-model='currentEntity'
                   typeahead='item as item.name for item in searchItems | filter:{name: $viewValue} | limitTo:8'
                   typeahead-on-select='selectItem($item)'
                   typeahead-editable='false'
                   class='form-control'
                   placeholder='Search'>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
        <div ng-if='!(status.isNetworkShown)'
             ng-class="mobile ? 'display-panelMb' : 'display-panel', settingsEnabled ? 'col-sm-8' : 'col-sm-10' "
             ng-hide="(editing && mobile) || (showAnalytics)"
             ng-include="'js/map/map.html?i='+random">
        </div>
        <div id='details-panel' add-mobile-events class='details-panel'
             ng-if='!editing && (clickedEntity.entity ||!mobile)'
             ng-class="{'details-panelMb bottomPopUpMb': mobile}"
             ng-show='(!mobile || (clickedEntity.entity && (!editing && !settingsEnabled && !showsearchMB))) || (!showAnalytics)'
             ng-controller='detailsCtrl' ng-include="'js/detail/details.html?i='+random"></div>

        <edit-entity entity="currentEntity"
                     entities="entities"
                     ng-class="mobile ? 'edit-panelMb' : 'edit-panel'"
                     ng-show="editing && !showAnalytics"
                     is-open="editing"
        ></edit-entity>
        <analytics ng-hide="!showAnalytics"
                   ng-class="mobile ? 'display-panelMb' : 'display-analytics'"></analytics>
        <div ng-hide="(!mobile) ||(showAnalytics)" class='bottomNavMb'>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 bottomNavMbRow" ng-class="{'clickedButtonMb': showsearchMB}"
                     ng-click='showSearch()'>
                    <p>
                        <i class="fa fa-search"></i>Search
                    </p>
                </div>
                <div class="col-xs-2 bottomNavMbRow" ng-class="{'clickedButtonMb': settingsEnabled}"
                     ng-click='toggleSettings()'>
                    <p>
                        <i class="fa fa-filter"></i>Filter
                    </p>
                </div>
                <div class="col-xs-2 bottomNavMbRow" ng-click='switchView()'>
                    <p ng-if="status.isNetworkShown">
                        <i class="fa fa-globe"></i>Map
                    </p>
                    <p ng-if="!status.isNetworkShown">
                        <i class="icon-clustergrey"></i>
                        Network
                    </p>
                </div>
                <div class="col-xs-2 bottomNavMbRow">
                    <a target="_blank" href="/js/analytic/analytics.html">
                        <p>
                            <i class="fa fa-bar-chart"></i>Analytics
                        </p>
                    </a>
                </div>
                <div class="col-xs-2 bottomNavMbRow" ng-class="{'clickedButtonMb': editing}"
                     ng-click='startEdit(null)'>
                    <p>
                        <i class="fa fa-plus-circle"></i>Add
                    </p>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
