body {
	background: #E3F8FF;
	font-family: Verdana;
}
table {
	width: 100%;
	border: 1px solid grey;
	background: #C2F5FF;
}
table td{
	vertical-align: top;
}
.entity-container{
	background: #C2F5FF;
	margin: 10%;
	border: 1px solid grey;
	padding: 10px;
}
tr td{
	background-color: white;
}
input[type='submit']{
	height: 35px;
	background: #FFADAD;
	color: #393937;
	font-size: 1.2em;
	margin-bottom: 10px;
}
