/*styling of left nav */
body {
    background-color: #D0D0D0;
}

.network-container {
    background-color: white;
}

.col-sm-8 {
    background-color: white;
}

.logo {
    width: 100%;
    position: absolute;
    background-color: black;
    text-align: center;
    margin-left: -15px;
}

.caption {
    padding-left: 5px;
}

input[type='text'], TEXTAREA[disabled] {
    background-color: #FFFFFF ;
    -moz-box-shadow:    inset 0 0 10px #808080;
    -webkit-box-shadow: inset 0 0 10px #808080;
    box-shadow:         inset 0 0 10px #808080;
}

h1 {
    font-family: Verdana;
    color: #E0E0E0;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    font-family: Verdana;
    color: #303030;
}

h4 {
    font-family: Verdana;
    color: #303030;
    font-size: 24px;
}

h5 {
    font-family: Verdana;
    color: #303030;
    font-size: 22px;
    text-shadow: 1px 0px 0px #000000;
}


h6 {
    font-family: Verdana;
    color: #303030;
    font-size: 16px;
}

.checkbox:hover .check,
.radio:hover .check {
  border-color: white;
}

.checkbox {
    width: 28px;
    height: 28px;
    border: 6px white solid;
    padding: 2;
    margin: 2;
    background-color: white;
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.checkbox input {
  display: none;
}
.radio {
    border-radius: 50%;
    background-color: black;
}
.unchecked {
  background-color: white !important;
}
.For-Profit-checkbox {
    background-color: rgb(127, 186, 0);
}
.Non-Profit-checkbox {
    background-color: dodgerblue;
}
.Individual-checkbox {
    background-color: orange;
}
.Government-checkbox {
    background-color: rgb(242, 80, 34);
}

.Employment-checkbox {
    background-color: purple
}
.Funding-checkbox {
    background-color: rgb(242, 80, 34)
}
.Collaboration-checkbox {
    background-color: orange
}
.Data-checkbox {
    background-color: dodgerblue
}

.radio .check {
  border-radius: 50%;
  padding: 2;
  margin: 2;
}

.radio {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 6px white solid;
  padding: 2;
  margin: 2;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
}

.radio-edit input {
  display: none;
}

.radio-edit {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 6px white solid;
  padding: 2;
  margin: 2;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: red;
}

.radio.unchecked {
  background-color: white;
}

.Employees-radio {
    background-color: white;
}

.Twitter-Followers-radio {
    background-color: white;
}

.angular-leaflet-map {
    height:100vh;
}
.main-container {
}
.map-container {
    height: 100vh;
}
.network-container {
    height: 100vh;
}
.control-panel {
    background-color: #D0D0D0;
}
.display-panel {
}
.details-panel {
    background-color: #D0D0D0;
}
.edit-panel {
    background-color: #D0D0D0;
}
.edit-form {
}
.edit-marker {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    opacity: 0.6;
}
.edit-marker:hover {
    opacity: 1;
}
/* GENERAL NODE AND LINK STYLES */
.node {
    stroke: white;
    stroke-width: 2;
}
.link {
    stroke-width: 1;
    opacity: 0.5;
    visibility: visible;
}
.node text {
  pointer-events: none;
  font: 15px sans-serif;
  stroke: none;
  fill: black;
  visibility: hidden;
}
.unfocused {
    opacity: 0.05;
}
.node.wellconnected text{
    visibility: visible;
}
.focused text {
    visibility: visible;
}
/* Hide labels for even the wellconnected nodes if not focused. */
.unfocused text {
    visibility: hidden !important;
}
/* CATEGORIZED NODE STYLES */
.Individual-node {
    fill: orange;
}
.For-Profit-node {
    fill: rgb(127, 186, 0);
}
.Non-Profit-node {
    fill: dodgerblue;
}
.Government-node {
    fill: rgb(242, 80, 34);
}
/* CATEGORIZED LINK STYLES */
.Employment-link {
    stroke: purple;
}
.Funding-link {
    stroke: rgb(242, 80, 34);
}
.Collaboration-link {
    stroke: yellow;
}
.Data-link {
    stroke: blue;
}
.Relation-link {
    stroke: red;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

/*styling of right nav*/

.more {
   border-top: 1px solid #52595e;
   background: #353c40;
   background: -webkit-gradient(linear, left top, left bottom, from(#393c3d), to(#353c40));
   background: -webkit-linear-gradient(top, #393c3d, #353c40);
   background: -moz-linear-gradient(top, #393c3d, #353c40);
   background: -ms-linear-gradient(top, #393c3d, #353c40);
   background: -o-linear-gradient(top, #393c3d, #353c40);
   padding: 8px 16px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #bfbbbf;
   font-size: 13px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #242b30;
   background: #242b30;
   color: #4f4b4f;
   }
.button:active {
   border-top-color: #595959;
   background: #595959;
}

#settings {
    height: 95vh;
    overflow: scroll;
}
#controlsMinButton {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
#entityInfo {
    height: 100vh;
    overflow: scroll;
}
#minimizeButton{
    z-index: 1;
    position: fixed;
    width: 13.5%;
    height: 25px;
}

#formRight {
    height: 100vh;
    overflow: scroll;
}

.network-container{
}

#network {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#aboutButton{
    background-color: black;
    padding: 0;
    text-align: center;
    width: 17%;
    height: 37px;
    position: fixed;
    bottom: 0;
    overflow: scroll;
    z-index: 2;
}

/*Animation spinner for form submission*/
/*source: http://projects.lukehaas.me/css-loaders/*/

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.087em -0.825em 0 -0.42em #474444, -0.173em -0.812em 0 -0.44em #474444, -0.256em -0.789em 0 -0.46em #474444, -0.297em -0.775em 0 -0.477em #474444;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.338em -0.758em 0 -0.42em #474444, -0.555em -0.617em 0 -0.44em #474444, -0.671em -0.488em 0 -0.46em #474444, -0.749em -0.34em 0 -0.477em #474444;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.377em -0.74em 0 -0.42em #474444, -0.645em -0.522em 0 -0.44em #474444, -0.775em -0.297em 0 -0.46em #474444, -0.82em -0.09em 0 -0.477em #474444;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.087em -0.825em 0 -0.42em #474444, -0.173em -0.812em 0 -0.44em #474444, -0.256em -0.789em 0 -0.46em #474444, -0.297em -0.775em 0 -0.477em #474444;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.338em -0.758em 0 -0.42em #474444, -0.555em -0.617em 0 -0.44em #474444, -0.671em -0.488em 0 -0.46em #474444, -0.749em -0.34em 0 -0.477em #474444;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.377em -0.74em 0 -0.42em #474444, -0.645em -0.522em 0 -0.44em #474444, -0.775em -0.297em 0 -0.46em #474444, -0.82em -0.09em 0 -0.477em #474444;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
}

/*End of animation spinner*/

#license {
    position:absolute;
    bottom:0;
    color: grey;
}

#settingsmobile input{
    /*background-color: red;*/
/*    position: relative;
    float: left;
    display: inline;*/

}

/*#settingsmobile label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
#settingsmobile input {
    float: left;
    margin: 10px;
    padding: 10px;
    display:inline-block;
    overflow:hidden
}*/

