body {
    overflow:hidden;
}
#details-name {
  padding-top: 0%;
}
.add-button {
  border-color: blue;
}
.edit-title {
    padding-bottom:6px;
}

#facebook-link {
  padding-left: 1;
  margin-top: 20px;
}

.popup-color {
  background-color: #E8E8E8;
}

.network-container {
    background-color: white;
}
.right_logo {
    position: relative;
    text-align: center;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -8.3%;
    margin-right: -8.3%;
    margin-top: -3.6%;
}
.logo {
    position: relative;
    background-color: #D0D0D0 ;
    text-align: center;
    margin-left: 0.9%;
    margin-right: 1%;
    margin-top: 5%;
}

.caption {
    padding-left: 5px;
    color: black;
    font-size: 16px
}
h1, h2, h3, h4, h5, h6, .caption, .captionMobile {
    font-family: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-family: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #505050;
  font-size: 14px;
  font-weight: normal;
}
.details-panel h6 {
  font-size: 14px;
  font-weight: bold;
}
.control-panel h3 {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 14pt;
    text-transform: uppercase;
}
.control-input {
    padding-left: 2px;
}
.entity-name {
    padding-bottom: 10px;
}

.checkbox {
    width: 26px;
    height: 26px;
    border: 5px white solid;
    padding: 0;
    background-color: black;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: 6px;
}
.checkbox input {
  display: none;
}
.radio {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: black;
    border: 5px white solid;
}
.radio-big {
    padding: 0;
    margin: 0.5;
    width: 32px;
    height: 32px;
}
.finance-amount {
    width: 60% !important;
}
.finance-year {
    width: 40% !important;
}
.unchecked {
  background-color: white !important;
}

.For-Profit-checkbox {
    background-color: rgb(127, 186, 0);
}
.Non-Profit-checkbox {
    background-color: dodgerblue;
}
.Individual-checkbox {
    background-color: orange;
}
.Government-checkbox {
    background-color: rgb(242, 80, 34);
}

.Employment-checkbox {
    background-color: purple
}
.Funding-checkbox {
    background-color: rgb(242, 80, 34)
}
.Collaboration-checkbox {
    background-color: orange
}
.Data-checkbox {
    background-color: dodgerblue
}

.angular-leaflet-map {
    height: 100vh;
}
.main-container {
}
.map-container {
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
}
.network-container {
    height:100%;
    overflow:hidden;
}
.control-panel {
    height: 100vh;
    overflow: scroll;
    background-color: #D0D0D0;
}
.control-panel h3 {
    text-align: left;
}
.display-panel {
}
.edit-panel {
    background-color: #F9FAFA;
    height: 100vh;
    overflow: scroll;
    padding-top: 10px;
}
.edit-panel h6{
    text-align: left;
    margin-bottom: 3px;
}
.edit-form {
}
/* Metadata field padding.*/
.details-field {
    padding-left: 15%;
}
.edit-marker {
    position: absolute;
    padding-left: 40%;
    cursor: pointer;
    opacity: 0.6;
}
.edit-marker:hover {
    opacity: 1;
}
.cancel-edit-marker {
    float: right;
    cursor: pointer;
    padding-top: 5px;
    opacity: 0.6;
}
.cancel-edit-marker:hover {
    opacity: 1;
}
/* GENERAL NODE AND LINK STYLES */
.node {
    stroke: white;
    stroke-width: 2;
}
.link {
    stroke-width: 1;
    opacity: 0.5;
    visibility: visible;
}
.node text {
  pointer-events: none;
  font: 15px sans-serif;
  stroke: none;
  fill: black;
  visibility: hidden;
}
.unfocused {
    opacity: 0.05;
}
.node.wellconnected text{
    visibility: visible;
}
.focused text {
    visibility: visible;
}
/* Hide labels for even the wellconnected nodes if not focused. */
.unfocused text {
    visibility: hidden !important;
}
/* CATEGORIZED NODE STYLES */
.Individual-node {
    fill: orange;
}
.For-Profit-node {
    fill: rgb(127, 186, 0);
}
.Non-Profit-node {
    fill: dodgerblue;
}
.Government-node {
    fill: rgb(242, 80, 34);
}
.node text {
    fill: darkslategray;
    font-size: 14px;
    pointer-events: none;
}
/* CATEGORIZED LINK STYLES */
.Employment-link {
    stroke: purple;
}
.Funding-link {
    stroke: rgb(242, 80, 34);
}
.Collaboration-link {
    stroke: yellow;
}
.Data-link {
    stroke: blue;
}
.Relation-link {
    stroke: red;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
/* Arc styles*/
.Individual-arc {
    fill: orange;
}
.For-Profit-arc {
    fill: rgb(127, 186, 0);
}
.Non-Profit-arc {
    fill: dodgerblue;
}
.Government-arc {
    fill: rgb(242, 80, 34);
}
/*styling of right nav*/

.button:hover {
   border-top-color: #242b30;
   background: #242b30;
   color: #4f4b4f;
   }
.button:active {
   border-top-color: #595959;
   background: #595959;
}

.navButtonMob {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 34px;
    height: 34px;
    background: none;
    border-radius: 2px;
    border: none;
    font-size: 15pt;
    color: #757171;
}

.navButtonMob.glyphicon-chevron-up {
  color: white;
  background-color: grey;
}

.network-container{
    text-align: center;
}

#network {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

/*Animation spinner for form submission*/
/*source: http://projects.lukehaas.me/css-loaders/*/

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em green, 0 -0.83em 0 -0.42em green, 0 -0.83em 0 -0.44em green, 0 -0.83em 0 -0.46em green, 0 -0.83em 0 -0.477em green;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em red, 0 -0.83em 0 -0.42em red, 0 -0.83em 0 -0.44em red, 0 -0.83em 0 -0.46em red, 0 -0.83em 0 -0.477em red;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em blue, -0.087em -0.825em 0 -0.42em blue, -0.173em -0.812em 0 -0.44em blue, -0.256em -0.789em 0 -0.46em blue, -0.297em -0.775em 0 -0.477em blue;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #31D446, -0.338em -0.758em 0 -0.42em #31D446, -0.555em -0.617em 0 -0.44em #31D446, -0.671em -0.488em 0 -0.46em #31D446, -0.749em -0.34em 0 -0.477em #31D446;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #FFFB21, -0.377em -0.74em 0 -0.42em #FFFB21, -0.645em -0.522em 0 -0.44em #FFFB21, -0.775em -0.297em 0 -0.46em #FFFB21, -0.82em -0.09em 0 -0.477em #FFFB21;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em red, 0 -0.83em 0 -0.42em red, 0 -0.83em 0 -0.44em red, 0 -0.83em 0 -0.46em red, 0 -0.83em 0 -0.477em red;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em green, 0 -0.83em 0 -0.42em green, 0 -0.83em 0 -0.44em green, 0 -0.83em 0 -0.46em green, 0 -0.83em 0 -0.477em green;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em red, 0 -0.83em 0 -0.42em red, 0 -0.83em 0 -0.44em red, 0 -0.83em 0 -0.46em red, 0 -0.83em 0 -0.477em red;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em blue, -0.087em -0.825em 0 -0.42em blue, -0.173em -0.812em 0 -0.44em blue, -0.256em -0.789em 0 -0.46em blue, -0.297em -0.775em 0 -0.477em blue;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #31D446, -0.338em -0.758em 0 -0.42em #31D446, -0.555em -0.617em 0 -0.44em #31D446, -0.671em -0.488em 0 -0.46em #31D446, -0.749em -0.34em 0 -0.477em #31D446;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #FFFB21, -0.377em -0.74em 0 -0.42em #FFFB21, -0.645em -0.522em 0 -0.44em #FFFB21, -0.775em -0.297em 0 -0.46em #FFFB21, -0.82em -0.09em 0 -0.477em #FFFB21;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em red, 0 -0.83em 0 -0.42em red, 0 -0.83em 0 -0.44em red, 0 -0.83em 0 -0.46em red, 0 -0.83em 0 -0.477em red;
  }
}

/*End of animation spinner*/

.license {
}
.license-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}
.licenseMob {
    margin-top: 70vh;
    color: #9E9E9E;
    font-weight: 400;
    font-size: 1.1em;
    z-index: 12;
    pointer-events: none;
}
.licenseMob a {
    pointer-events: auto;
}

.settingsmobile {
    width: 100%;
    resize:vertical;
    overflow: scroll;
    height: 50vh;
}

.settingsmobile.mapView {
    height: 25vh;
}

.centerInput {
  width: 66%;
  margin-left: 18%;
}
.captionMobile {
    padding: 5px;
    font-weight: 800;
    margin: 0;
}
.mobileTitle{
    font-size: 1.3em;
}
.mobileTitle span{
    margin-left: 2px;
    color: rgb(51, 51, 51);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    height: auto;
    line-height: 20px;
}

.addInfoMobile {
    border: none;
    color: white;
    background: blue;
    right: 0;
    top: 0;
    height: 35px;
    width: 35px;
    position: fixed;
    z-index: 3;
}

.addInfoMobile p{
  color: white;
  font-size: 15pt;

}

.addInfoDesktop {
    transition: opacity 0.1s linear;
    margin-top: 3px;
    background-color: #1ea4eb;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.addInfoDesktop:hover {
    opacity: 0.8;
}

.addInfoDesktop p{
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    color: white;
    font-size: 13pt;
    font-weight: 600;
}

.details-panel{
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    z-index: 2;
}
.details-panel p, h1, h2, h3, h5, h6 {
  text-align: center;
  margin-bottom: 0%
}
.details-panel a {
  text-align: center;
  display: block;
}
.details-panelMb {
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 35px;
}

.checkboxCont{
    width: 45%;
    float: left;
    display: inline-block;
}

.navLogoMobile{
    text-align: center;
    height: 7vh;
    z-index: 3;
}
.navLogoMobileBackground{
  text-align: center;
  background-color: #D0D0D0;

}

.save {
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
}
.save button {
    font-size: 20px;
    font-family: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
.shareButton {
    width: 50px;
    height: 50px;
}

.shareButtonContainer{
    text-align: center;
}
.popup-color{
    border-radius: 5px;
    padding-bottom: 10px;
}
.participate {
  padding: 5%;
}
.error {
    text-align: center;
}
.error h6 {
    text-align: center;
}
.error-symbol {
    font-size: 32pt;
}

.glyphicon.glyphicon-pencil.edit-marker{
  margin-top: 15px;
}

