#details-name {
  padding-top: 0%;
}
.add-button {
  border-color: blue;
}

#facebook-link {
  padding-left: 1;
  margin-top: 20px;
}

.popup-color {
  background-color: #E8E8E8;
}

.network-container {
    background-color: white;
}

.right_logo {
    position: relative;
    text-align: center;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -8.3%;
    margin-right: -8.3%;
    margin-top: -9.6%;
}
.logo {
    position: relative;
    background-color: #303030;
    text-align: center;
    margin-left: -8.3%;
    margin-right: -8.3%;
    margin-top: 10.6%;
}

.caption {
    padding-left: 5px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: black;
    font-size: 16px

}

h1 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #E0E0E0;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    margin-top: 0;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #505050 ;
}

h4 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #303030;
    font-size: 24px;
}

h5 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #303030;
    font-size: 22px;
    text-shadow: 1px 0px 0px #000000;
}

h6 {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #303030;
  font-size: 14px;
  font-weight: bold;
}

p {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #505050;
  font-size: 14px;
  font-weight: normal;
}

#key-civic-people-img {
  background: white url(/static/img/mini_grey_head.png) left no-repeat;
  padding-left: 5px;
  text-align: center;
}

.glyphicon {
  padding-right: 10px;
  padding-bottom: 10px
  background-color: dodgerblue;
}

.pencil-glyph {
  padding-top: 5%;
  padding-right: 10px;
  padding-bottom: 10px
  background-color: dodgerblue;
}
.twitter-pic-position {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

.twitter-pic {
    border-radius: 50%;
}

h2 {
    font-family: Verdana;
    color: #474747;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    /*text-shadow: 2px 2px 4px #000000;*/
    padding-bottom: 10px;
    /*padding-top: 10px;*/
}

.checkbox {
    width: 28px;
    height: 28px;
    border: 7px white solid;
    padding: 0;
    margin: 0.5 ;
    background-color: white;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.checkbox input {
  display: none;
}

.r-radio {
  border-radius: 50%;
  background-color: black
}

.z-radio {
  border-radius: 50%;
  background-color: rgb(242, 80, 34);
}

.a-radio {
  padding: 0;
  margin: 0.5 ;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: black;

}

.radio {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: black;
    border: 7px white solid;
}

.unchecked {
  background-color: white !important;
}
.For-Profit-checkbox {
    width: 34px;
    height: 34px;
    background-color: rgb(127, 186, 0);
}
.Non-Profit-checkbox {
    width: 34px;
    height: 34px;
    background-color: dodgerblue;
}
.Individual-checkbox {
    width: 34px;
    height: 34px;
    background-color: orange;
}
.Government-checkbox {
    width: 34px;
    height: 34px;
    background-color: rgb(242, 80, 34);
}

.Employment-checkbox {
    width: 34px;
    height: 34px;
    background-color: purple
}
.Funding-checkbox {
    width: 34px;
    height: 34px;
    background-color: rgb(242, 80, 34)
}
.Collaboration-checkbox {
    width: 34px;
    height: 34px;
    background-color: orange
}
.Data-checkbox {
    width: 34px;
    height: 34px;
    background-color: dodgerblue
}

.angular-leaflet-map {
    height:100vh;
}
.main-container {
}
.map-container {
    height: 100vh;
    margin-left: -15px;
    margin-right: -15px;
}
.network-container {
    height:100%;
    overflow:hidden;
    background-color: white;
}
.control-panel {
    background-color: #D0D0D0;
    width: 14.66666667%;
}
.display-panel {
}
.details-panel {
    background-color: #D0D0D0;
    z-index: 2;
}
.edit-panel {
    background-color: #D0D0D0;
}
.edit-form {
}
.edit-marker {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    opacity: 0.6;
}
.edit-marker:hover {
    opacity: 1;
}
/* GENERAL NODE AND LINK STYLES */
.node {
    stroke: white;
    stroke-width: 2;
}
.link {
    stroke-width: 1;
    opacity: 0.5;
    visibility: visible;
}
.node text {
  pointer-events: none;
  font: 15px sans-serif;
  stroke: none;
  fill: black;
  visibility: hidden;
}
.unfocused {
    opacity: 0.05;
}
.node.wellconnected text{
    visibility: visible;
}
.focused text {
    visibility: visible;
}
/* Hide labels for even the wellconnected nodes if not focused. */
.unfocused text {
    visibility: hidden !important;
}
/* CATEGORIZED NODE STYLES */
.Individual-node {
    fill: orange;
}
.For-Profit-node {
    fill: rgb(127, 186, 0);
}
.Non-Profit-node {
    fill: dodgerblue;
}
.Government-node {
    fill: rgb(242, 80, 34);
}
/* CATEGORIZED LINK STYLES */
.Employment-link {
    stroke: purple;
}
.Funding-link {
    stroke: rgb(242, 80, 34);
}
.Collaboration-link {
    stroke: yellow;
}
.Data-link {
    stroke: blue;
}
.Relation-link {
    stroke: red;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
/* Arc styles*/
.Individual-arc {
    fill: orange;
}
.For-Profit-arc {
    fill: rgb(127, 186, 0);
}
.Non-Profit-arc {
    fill: dodgerblue;
}
.Government-arc {
    fill: rgb(242, 80, 34);
}
/*styling of right nav*/

.button:hover {
   border-top-color: #242b30;
   background: #242b30;
   color: #4f4b4f;
   }
.button:active {
   border-top-color: #595959;
   background: #595959;
}

#settings {
    height: 100vh;
    overflow: scroll;
}
.hambDesktop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#minimizeButton{
    z-index: 1;
    position: fixed;
    width: 13.5%;
    height: 25px;
}

#formRight {
    height: 100vh;
    overflow: scroll;
}

.network-container{
    text-align: center;
}

#network {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

/*Animation spinner for form submission*/
/*source: http://projects.lukehaas.me/css-loaders/*/

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.087em -0.825em 0 -0.42em #474444, -0.173em -0.812em 0 -0.44em #474444, -0.256em -0.789em 0 -0.46em #474444, -0.297em -0.775em 0 -0.477em #474444;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.338em -0.758em 0 -0.42em #474444, -0.555em -0.617em 0 -0.44em #474444, -0.671em -0.488em 0 -0.46em #474444, -0.749em -0.34em 0 -0.477em #474444;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.377em -0.74em 0 -0.42em #474444, -0.645em -0.522em 0 -0.44em #474444, -0.775em -0.297em 0 -0.46em #474444, -0.82em -0.09em 0 -0.477em #474444;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.087em -0.825em 0 -0.42em #474444, -0.173em -0.812em 0 -0.44em #474444, -0.256em -0.789em 0 -0.46em #474444, -0.297em -0.775em 0 -0.477em #474444;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.338em -0.758em 0 -0.42em #474444, -0.555em -0.617em 0 -0.44em #474444, -0.671em -0.488em 0 -0.46em #474444, -0.749em -0.34em 0 -0.477em #474444;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #474444, -0.377em -0.74em 0 -0.42em #474444, -0.645em -0.522em 0 -0.44em #474444, -0.775em -0.297em 0 -0.46em #474444, -0.82em -0.09em 0 -0.477em #474444;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #474444, 0 -0.83em 0 -0.42em #474444, 0 -0.83em 0 -0.44em #474444, 0 -0.83em 0 -0.46em #474444, 0 -0.83em 0 -0.477em #474444;
  }
}

/*End of animation spinner*/

.license {
    position:fixed;
    bottom:0;
    color: grey;
}
.licenseMob {
  margin-top: 50vh;
    color: #9E9E9E;
    font-weight: 400;
    /*position:absolute;*/
    bottom: 0;
    pointer-events: none;
    font-size: 1.3em;
    z-index: 12;
}



.settingsmobile {
    width: 100%;
    resize:vertical;
    overflow: scroll;
    height: 50vh;
}
.captionMobile {
    font-weight: 800;
    margin: 0;
}
.checkbox {
    margin-bottom: 3;
    margin-top: 0;

}
.mobileTitle{
    font-size: 1.3em;

}
#minimizeButtonMobile{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: fixed;
    width: 13.5%;
    height: 25px;
}

.addInfoMobile {
    font-family: Verdana;
    font-weight: 800;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 3;
    border: 2px solid lightgrey;
}
.addInfoDesktop {
  background  : none;
  border: 2px solid #000080;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;

}

.addInfoDesktop:hover {
    background: #00CCFF;
}

.addInfoDesktop p{
  margin-top: 10px;
  vertical-align: middle;
  color: #000080;
  font-size: 13pt;
  font-weight: 600;
}

.addInfoDesktop span {
  color: #000080;
  vertical-align: middle;

  font-size: 20pt;
}
.inputMobile {
    display: inline;
    margin-left: 10%;
    margin-right: 2%;
    width: 75%;
}
.details-panel{
    padding: 10px;
    height: 100vh;
    overflow: scroll;
    background-color: white  ;


    /*height: 85vh;
    overflow: scroll;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    position: absolute;
    right: 0;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #F0F0F0;*/
}
.details-panelMb {
    padding-top: 5%;
    height: 50vh;
    width: 100%;
    overflow: scroll;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F0F0F0;
    padding-bottom: 35px;
    margin-top: 40px;
}

.checkboxCont{
    width: 45%;
    float: left;
    display: inline-block;
}

.navLogoMobile{
  margin-left: 10%;
}
