#block{
	width: 100vw;
	height: 100vh;
	background-color: black;
	text-align: center;
	position: fixed;
	z-index: 2;
}
#block input{
	margin-top: 25%;
}
#block input[type=submit]  {
	border: none;
	padding: 5px;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow: hidden;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-family: 'Roboto', sans-serif;
}
a { 
	color: inherit; 
	color: #9F9F9F;
	margin: 2%;
	text-decoration: underline;
} 
a:hover { 
    color: #66ad1c;
}
h2{
	font-size: 1.2em;
	color: #727272;
	margin: 0% 0% 5% 0%;
}
h3, label{
	color: #BBBBBB;
	font-size: 1.2em;
	font-weight: 100;
}
h4{
	color: #9F9F9F;
	font-size: 1.5em;
	font-weight: 100;
	font-style: italic;
}
.left-container{
	text-align: center;
	border-right: 1px solid #DDDDDD;
	height: 80vh;
	margin-top: 5%;
	position: fixed;
}
.left-container img{
	width: 100%;
	padding: 4%;
	margin-top: 10px;
}
.left-container div{
	margin-top: 20vh;
	text-align: center;
}
.right-container{
	margin-left: 43%;
	height: 100vh;
}
.step-container{
	padding-left: 5%;
	display: table;
    table-layout: fixed;
}
.logo-container{
}
.logo-container img{
	height: 100%;
	width: 100%;
}
#step1,#step2,#step3{
	/*margin-right: 10%;*/
	/*margin-left: 10%;*/
	/*margin: auto 10%;*/
	height: 100vh;
	width: 50vw;
	display:table-cell;
    vertical-align:middle;
/*    text-align:center;
*/}
button{
	margin-top: 5%;
	background-color:  #66ad1c;
	padding: 5%;
	font-weight: 600;
	width: 65%;

	border: 1px solid #9F9F9F;
	color: white;
	text-transform: uppercase;
}
button[disabled]{
	background-color: #EEEFF1;
	color: grey;
	border: 1px solid #DDDDDD;
}
input[type='text']{
	border: 3px solid #DDDDDD;
    height: 70px;
    width: 80%;
    margin: 1% 0% 5% 0%;
    font-size: 1.5em;
    padding-left: 20px;
    display: block;
}
input[type='radio']{
	margin: 1% 2% 5% 5%;
}
#cb1 {
	margin-left: 0;
}
.employerEntity{
	margin: 0px;
	padding: 0px;
}
p{	
	color: #4A4A4A;
	font-size: 1.5em;
	display: inline;
}
#step1{
/*	height: 100vh;
*/	/*display: none;*/
}
#step2 {
	/*display: none;*/
	/*height: 100vh;*/
}
#step3{
	/*display: none;*/
	/*height:100vh;*/
	text-align: center;
}
.template {
	background-color: #EEEFF1;
	padding: 5%;
	border-radius: 10px;
	width: 85%;
}
.template input[type='text']{
	width: 100%;
}
#addedCollaborators {
	cursor: pointer; 
	border-radius: 5px;
	padding: 8px 10px 8px 10px;
	margin:2px 5px 2px 0px;
	display: none;
	color: white;
	font-size: 0.8em;
}
#addedCollaborators a{
	color: white;
	text-decoration: none;
	/*font-style: italic;*/
	/*font-size: 0.8em;*/
}
.xCLose{
	margin-left: 5px;
	font-size: 1em;
}
.last {
	display: none !important;
}
.For-Profit-color {
	display: inline-block !important;
    background-color: rgb(127, 186, 0);
}
.Non-Profit-color {
	display: inline-block !important;
    background-color: dodgerblue;
}
.Individual-color {
	display: inline-block !important;
    background-color: orange;
}
.Government-color {
	display: inline-block !important;
    background-color: rgb(242, 80, 34);
}
.greyEnt {
	display: inline-block !important;
	background-color: grey;
	cursor: pointer; 
	border-radius: 5px;
	padding: 8px 10px 8px 10px;
	margin:2px 5px 2px 0px;
	display: none;
	color: white;
	font-size: 0.8em;
}
#waitMessage {
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}
#locationmsg {
	display: none;
	padding: 5px 0px;
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}
#locationmsgorg {
	display: none;
	padding: 5px 0px;
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}

.buttonadd {
	margin-top: 2% !important;
}
.one {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    background-color: white;
    border: 3px solid white;
    box-shadow: 0 0 0 2px #DDDDDD;
    border-radius: 50%;
    margin: 0 0.5em;
    margin-top: -1px;
    vertical-align: middle;
}
input[type=radio]:checked + label::before {
    border: 3px solid white;
    box-shadow: 0 0 0 2px #DDDDDD;
}
.radio3 + label::before {
    width: 1.2em;
    height: 1.2em;
}
input.for-profit-background[type=radio]:checked + label::before {
    background-color: rgb(127, 186, 0);
}
input.non-profit-background[type=radio]:checked + label::before {
    background-color: dodgerblue;
}
input.government-background[type=radio]:checked + label::before {
    background-color: rgb(242, 80, 34);
}
