#wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
#info {
  width: 100%;
  height: 70%;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 25px;
}
.content {
  display: inline-block;
  float: left;
  width: 73%;
  height: 100%;
}
.metro .example {
  display: inline-block;
  float: right;
  width: 25%;
  background-color: #f9fafa !important;
}
/* SVG */

path {
  stroke: #666;
  fill: #333;
}
text {
  font-size: 10px;
  fill: #666;
  text-anchor: middle;
}
g.node {
  cursor: pointer;
}
/*g text:hover 
{
  font-weight: 500;
  fill: black;
  font-size: 14px;
}*/
/*g circle:hover 
{
  fill: teal;
}*/

.navstyle {
  /*  margin-top: 15px;
  margin-bottom: 20px;*/
  
  display: inline-block !important;
}
.navstyle .desc {
  font-size: 14px;
}
/* IE Compatibility*/
/*.fund
{
  stroke:rgb(120,129,0);
}
 
.invest
{
  stroke:rgb(120,0,1);
}
 
.porucs
{
  stroke:rgb(255,125,65);
}
 
.affil
{
  stroke:rgb(135,126,255);
}*/
/*.node:hover + .fund
{
  stroke-width:2.5px;
}
 
.node:hover + .invest
{
  stroke-width:2.5px;
}
 
.node:hover + .porucs
{
  stroke-width:2.5px;
}
 
.node:hover + .affil
{
  stroke-width:2.5px;
}*/

ul {
  list-style-type: none;
}
.metro ul li,
.metro ol li {
  line-height: 25px;
}