nav#main-nav.main-nav
  br
  .group-items.types#left-nav
      a(href="/developer")
        label
          .typestext
            strong
              h3 Developer
      a(href="/api")
        label
          .typestext
            strong
              h3 API
      a(href="/community")
        label
          .typestext
            strong
              h3 Our Community
      a(href="/")
        label
          .typestext
            strong
              h3 Civic Graph
      //- a(href="/join")
      //-   label
      //-     .typestext
      //-       strong
      //-         h3 Become A Member