nav.navigation-bar.dark.fixed-top.shadow
  nav.navigation-bar-content.container.navigation-items
    .navstyle.element.athena-logo
      div
        a#website-name(href='JavaScript: location.reload(true);')
          span.large Civic Graph
          //- span.small civic insights
    a.element.msft-logo(href='http://www.microsoft.com/en-us/default.aspx', target='_blank')
      img#logo(src='/static/images/ms_logo.png', align='right', height='200', width='120')