footer.site-footer
  div.grid.footer-grid
    div.row
      div.span3.socialmedia.footer-links
        a(href='https://twitter.com/intent/tweet?text=Civic%20Graph&url=http://civicgraph.io' target='_blank')
          i.fa.fa-twitter-square.fa-2x#twitter
        a(href='https://www.facebook.com/sharer/sharer.php?u=http://civicgraph.io' target='_blank')
          i.fa.fa-facebook-square.fa-2x#facebook
        a(href='https://www.linkedin.com/shareArticle?mini=true&url=civicgraph.io&title=Civic%20Graph&summary=&source=' target='_blank')
          i.fa.fa-linkedin-square.fa-2x#linkedin
        a(href='https://github.com/microsoftny/civic-graph' target='_blank')
          i.fa.fa-github-square.fa-2x#github
      div.span6.creative.footer-links(style='font-size:10px;')
        div.span1(style="display:inline;")
          a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/')
            img(alt='Creative Commons License', style='border-width:0; margin-right:10px;', src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png')
        div.span5(style="display:inline; margin-left: 10px;")
          | This 
          span(xmlns:dct='http://purl.org/dc/terms/', href='http://purl.org/dc/dcmitype/InteractiveResource', rel='dct:type') work
          |  by 
          a(xmlns:cc='http://creativecommons.org/ns#', href='http://civicgraph.io/', property='cc:attributionName', rel='cc:attributionURL') Microsoft&apos;s Technology and Civic Innovation
          |  is licensed under a 
          a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/') Creative Commons Attribution-ShareAlike 4.0 International License
          | .
          br
          | Based on a work at 
          a(xmlns:dct='http://purl.org/dc/terms/', href='https://github.com/microsoftny/civic-graph', rel='dct:source') https://github.com/microsoftny/civic-graph
      a.span3.footer-links(href='/developer' onclick="window.open(this.href)" style="float:right;")
        h4#developer Help Build Civic Graph