<div ng-hide="template.name =='Map'">
    <div class="checkboxCont">
        <h4 class="mobileTitle">Types</h4>
        <div ng-repeat='(type, enabled) in entityTypes'>
            <label class="checkbox {{type+'-checkbox'}}" ng-class="{'unchecked': !enabled}">
                <input type='checkbox' ng-model='entityTypes[type]' ng-change='toggleNode(type)'></label>
            <span class='captionMobile'>{{type}}</span>
        </div>
    </div>

    <div class="checkboxCont">
        <h4 class="mobileTitle">Connections</h4>
        <div ng-repeat='(type, enabled) in connectionTypes'>
            <label class="checkbox {{type+'-checkbox'}} checkbox inline no_indent" ng-class="{'unchecked': !enabled}">
                <input type='checkbox' ng-model='connectionTypes[type]' ng-change='toggleLink(type)'></label>
            <span class='check'></span>
            <span class='captionMobile'>{{type}}</span>
        </div>
    </div>

    <legend class="mLegend"></legend>

    <h4 class="mobileTitle">Sized By
<span ng-repeat='sizeBy in sizeBys'>
    <label class='checkbox radio' ng-class="{'unchecked': $parent.$parent.sizeBy != sizeBy.value}"
           ng-model='$parent.$parent.sizeBy'
           btn-radio='sizeBy.value'
           ng-change='changeSizeBy()'>
    </label>
    <span class='caption'>{{sizeBy.name.replace(" Followers", "");}}</span>
</span>
    </h4>

    <legend class="mLegend"></legend>
</div>



