extends layout

block content
  //include ./partials/left-nav
  .grid.mainbody
    .row.about-text
      br
      h2.span8.offset2
        strong API 
      div.span8.offset2 
        | Use Civic Graph database to build your own project or to integrate with an existing project.
      h3.span8.offset2(style='margin-top:10px;') Python 3.0
      code.span8.offset2
        pre 
          | import json
          | from urllib.request import urlopen url = "https://civicinsight.azurewebsites.net/athena"
          | response = urlopen(url)
          | contents = response.read()
          | text = contents.decode('utf8')
          | data = json.loads(text)
          | print(json.dumps(data, indent=4))
      h3.span8.offset2(style='margin-top:10px;') Python 2.7.8 
      code.span8.offset2
        pre 
          | import json import urllib url = "https://civicinsight.azurewebsites.net/athena"
          | response = urllib.urlopen(url)
          | contents = response.read()
          | text = contents.decode('utf8')
          | data = json.loads(text)
          | print(json.dumps(data, indent=4))
  include ./partials/fixed-footer