extends layout

block content
  //include ./partials/left-nav
  .grid.mainbody
    .row.about-text
      br
      h2.span8.offset2 
        strong Our Community 
      p.span8.offset2 Whether you are a developer or not, you can be part of our fast growing community! 
      ul.span8.offset2(style='list-style-type: disc;')
        li
          | Contribute your knowledge by adding information to 
          a(href='/')
            | Civic Graph 
          | database
        li
          | Help us to improve Civic Graph - visit our 
          a(href='https://github.com/microsoftny/civic-graph')
            | GitHub 
          | page 
  include ./partials/fixed-footer