<!DOCTYPE html>
<html ng-app='civic-graph'>
<head>
    <title>Civic Graph</title>
    <base href='/'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.2/lodash.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
    <script src='static/js/lib/leaflet.markercluster.js'></script>
    <script src='static/js/lib/angular-leaflet-directive.min.js'></script>
    <script src='static/js/app.js'></script>
    <script src='http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js'></script>


    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'>
    <link rel='stylesheet' href='static/css/MarkerCluster.Default.css'>
    <link rel='stylesheet' href='static/css/MarkerCluster.css'>
    <link rel='stylesheet' href='static/css/app.css'>
    <link rel='icon' type='image/png' href='static/img/microsoft.ico' />

</head>
<body ng-controller='homeCtrl'>
<div ng-show="mobile" class="navLogoMobile">
<button ng-show='!settingsEnabled' ng-click='toggleSettings()' class='glyphicon glyphicon-align-justify navButtonMob' ></button><button ng-show='settingsEnabled' ng-click='toggleSettings()' class='glyphicon glyphicon-chevron-up navButtonMob' ></button>
<img  class="logoMob" src="static/img/civicgraphdark.png" width="50%">
</div>
    <div class='container-fluid main-container'>
        <div class='row'>
            <div id='settings' ng-show='settingsEnabled' class='col-sm-2 control-panel hidden-xs' ng-include="'static/partials/controls.html'"></div>
            <div ng-show='settingsEnabled && !clickedEntity.entity' class='col-sm-2 control-panel visible-xs-block settingsmobile' ng-include="'static/partials/controlsmobile.html'"></div>
            <button class="visible-xs-block addInfoMobile"  ng-hide="editing" ng-click='startEdit(null)'>+ ADD INFO</button>
            <div class='display-panel' ng-hide="editing && mobile" ng-class="settingsEnabled ? 'col-sm-8' : 'col-sm-10'" ng-include='template.url'></div>
            <div ng-class="mobile ? 'col-sm-2 details-panelMb' : 'details-panel'" ng-if='!editing' ng-show='!mobile || clickedEntity.entity' ng-controller='detailsCtrl' ng-include="'static/partials/details.html'"></div>
            <div class='col-sm-2 edit-panel' ng-if='editing' ng-controller='editCtrl' ng-include="'static/partials/edit.html'"></div>
        </div>
    </div>
</body>
</html>
