doctype html
html
	head
		title= title

		link(rel='shortcut icon', href='/static/images/microsoft.ico')
		link(rel='stylesheet', href='/static/stylesheets/custom/reset.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/normalize.css')
		link(rel='stylesheet', href='/static/stylesheets/metro/css/metro-bootstrap.css')
		link(rel='stylesheet', href='/static/stylesheets/metro/css/metro-bootstrap-responsive.css')
		link(rel='stylesheet', href='/static/stylesheets/metro/min/iconFont.min.css')
		link(rel='stylesheet', href='/static/stylesheets/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/style.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/herograph.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/checkboxes.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/footer.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/left-nav.css')
		link(rel='stylesheet', href='/static/stylesheets/custom/developer-style.css')


	body.metro
		include ./partials/nav-bar
		#wrapper
			block content
